/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rammetto+One&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background-color: #e7eef4;
}

a,
button {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Navigation bar */
header {
  width: 100%;
  height: 75px;
  background-color: #1d1d25;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 99;
  /* Flexbox properties */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Logo, tags and label/buttons color */
.logo,
nav ul li a,
label {
  color: #e25e0f;
}
/* Hiding icons on larger screens */
label {
  display: none;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li a:hover {
  border-bottom: 1px solid #e25e0f;
}

#nav-menu {
  display: none;
}

/* Main content */
main {
  background-color: #e7eef4;
}

/* Card section */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  background-color: #1d1d25;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 300px;
}

.card img {
  width: 100%;
  height: auto;
}

/* Adds padding to the information inside of the card */
.card-details {
  padding: 16px;
}

.card-details h3 {
  font-size: 28px;
  margin-bottom: 8px;
  color: #fff;
}

.card-details p {
  height: 80px;
  color: #fff;
  font-size: 16px;
}

.card-details .card-btn {
  display: inline-block;
  padding: 10px 16px;
  background-color: #e25e0f;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}

/* Artist section */
.about {
  background-color: #1d1d25;
  /* Flexbox properties */
  display: flex;
  flex-flow: column;
  align-items: center;
}
.section-reverse {
  background-color: #e7eef4;
}
.artist-content .artist-content-socials {
  margin-top: 20px;
  margin-left: 12px;
  font-size: 24px;
  letter-spacing: 15px;
}

.artist-content .artist-content-socials a {
  color: #e25e0f;
}

.about .artist-content img {
  height: 600px;
  width: 600px;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.artist-content {
  max-width: 100%;
  padding: 0 10px;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist-about {
  max-width: 100%;
  padding: 0 10px;
  display: inherit;
  flex-direction: column;
  text-align: center;
}

.about-reverse .artist-info p {
  color: #1d1d25;
  font-size: 18px;
  line-height: 24px;
}

.about-reverse .artist-info .biography {
  color: #1d1d25;
}

.artist-about div {
  display: inherit;
  flex-direction: inherit;
  justify-content: space-evenly;
  align-items: center;
}

.artist-info h2,
.artist-info p,
.artist-info a {
  margin: 20px 0;
}

.artist-info h2 {
  color: #e25e0f;
  font-size: 85px;
  text-transform: capitalize;
}

.artist-info p {
  color: #fff;
  font-size: 18px;
  font-weight: bolder;
  line-height: 24px;
}

.artist-about .biography {
  max-width: 150px;
  max-height: 50px;
  background-color: #e25e0f;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 30px;
  font-weight: bolder;
}

/* Up button */
.scroll-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.scroll {
  position: fixed;
  right: 1rem;
  bottom: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: 0.7;
  background-color: #e25e0f;
  color: #e7eef4;
  text-align: center;
  font-size: 20px;
  margin: auto;
  padding: 12px;
}

.scroll:hover {
  opacity: 1;
}

.scroll:focus {
  opacity: 0.9;
}

.scroll:active {
  opacity: 1;
}

/* General footer properties */
footer {
  background-color: #1d1d25;
  color: #e7eef4;
  box-sizing: border-box;
  widows: 100%;
  text-align: center;
  padding: 50px 50px 35px 50px;
}

.footer-left,
.footer-center,
.footer-right {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

/* Footer left */
.footer-left {
  width: 30%;
}

.footer-left h2 {
  color: #e25e0f;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}

.footer-left .footer-slogan {
  display: inline-block;
  margin: 20px 0 12px;
  line-height: 1.8;
  font-size: 14px;
}

.footer-project-info {
  display: inline-block;
  margin: 20px 0 12px;
  line-height: 1.8;
  font-size: 16px;
}

/* Footer center */
.footer-center {
  width: 35%;
}

.footer-center i {
  background-color: #e25e0f;
  color: #fff;
  font-size: 20px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 10px 14px;
  vertical-align: middle;
}

.footer-center i.fa-github {
  font-size: 24px;
}

.footer-center p {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  margin: 0;
}

/* Footer right */
.footer-right {
  width: 30%;
}

.footer-right h2 {
  color: #e25e0f;
}

.footer-disclaimer {
  display: inline-block;
  margin: 20px 0 12px;
  line-height: 1.5;
  font-size: 16px;
}

/* Media query for small screen (600px and below) */
@media screen and (max-width: 600px) {
  .logo {
    font-size: 10px;
  }

  label {
    display: block;
  }

  nav {
    position: absolute;
    background-color: #1d1d25;
    width: 100px;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    /* Prevents the navigation menu from being constantly open */
    visibility: hidden;
    opacity: 0;
    z-index: 99;
  }

  nav ul li a,
  nav label {
    color: #e25e0f;
  }

  nav ul {
    flex-direction: column;
  }

  nav label {
    text-align: right;
  }
  /* When button is pressed the menu shows up */
  input:checked ~ nav {
    visibility: visible;
    opacity: 1;
  }

  /* Card section */
  .card-container {
    flex-wrap: wrap;
  }

  /* Artist section */

  .about .artist-content img {
    height: 300px;
    width: 300px;
    margin-top: 50px;
  }

  .artist-info h2 {
    font-size: 55px;
    margin-bottom: 25px;
  }

  .artist-info p {
    font-size: 16px;
  }

  .content-reverse {
    order: 1;
  }

  .about-reverse {
    order: 2;
  }

  .artist-about .spotify-player {
    margin-bottom: 20px;
  }

  .footer-bottom {
    flex-wrap: wrap;
  }

  .fb-right,
  .fb-left {
    width: 100%;
  }

  .fb-right {
    text-align: left;
    padding-top: 10px;
  }

  .scroll {
    visibility: hidden;
  }
}

/* Media query for small devices (600px and up) */
@media screen and (min-width: 600px) {
  nav ul li a {
    font-size: 14px;
  }

  .logo h1 {
    font-size: 24px;
  }

  /* Card section */
  .card-container {
    flex-wrap: wrap;
  }

  /* Artist section */

  .artist-content .artist-content-socials {
    margin-bottom: 20px;
  }

  .about .artist-content img {
    max-width: 450px;
    max-height: 450px;
    margin-top: 50px;
  }

  .artist-info {
    align-self: center;
  }

  .artist-info h2 {
    font-size: 80px;
    margin-bottom: 25px;
  }

  .artist-info p {
    font-size: 16px;
  }

  .artist-about .spotify-player {
    align-self: center;
    width: 550px;
    margin-bottom: 20px;
  }
}

/* Media query to scale footer to devices 880px and below */
@media (max-width: 880px) {
  .footer-left,
  .footer-center,
  .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}

/* Media query for large devices (980px and up) */
@media screen and (min-width: 980px) {
  nav ul li a {
    font-size: 16px;
  }

  .logo h1 {
    font-size: 32px;
  }

  .card-container {
    flex-wrap: nowrap;
  }

  .card {
    height: auto;
  }

  .card-details p {
    font-size: 14px;
  }
}

/* Media query for extra large devices (1200px and up) */
@media screen and (min-width: 1200px) {
  section {
    height: 100vh;
  }

  .about {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card-container {
    justify-content: space-evenly;
    flex-direction: row;
  }

  .card-details p {
    font-size: 16px;
  }

  .artist-about {
    width: 600px;
  }

  .artist-content-image img {
    min-width: 600px;
    min-height: 600px;
  }

  .content-reverse {
    order: 2;
  }

  .about-reverse {
    order: 1;
  }

  .scroll {
    width: 2rem;
    height: 2rem;
    padding: 6px;
    font-size: 16px;
  }
}
