/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@500&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background-color: #e7eef4;
}

a,
button {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}

iframe {
  width: 100%;
  height: 352px;
  border-radius: 12px;
  border: none;
}

/* Navigation bar */
header {
  width: 100%;
  height: 75px;
  background-color: #1d1d25;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 99;
  /* Flexbox properties */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo, tags and label/buttons color */
.logo,
nav ul li a,
label {
  color: #ff8c00;
}

/* Hiding icons on larger screens */
header label {
  display: none;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li a:hover {
  border-bottom: 1px solid #ff8c00;
}

#nav-menu {
  display: none;
}

/* Main content */
main {
  flex: 1 0 auto;
  background-color: #e7eef4;
}

/* <--- Landing page ---> */

/* Hero section */
.hero {
  height: 600px;
  display: flex;
}

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero-image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  /* Positioning image relative so that the hero text will fit within the image. */
  position: relative;
}

.hero-text {
  background-color: rgba(226, 94, 15, 0.7);
  color: #e7eef4;
  font-size: 120%;
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 80%;
  align-self: center;
  padding: 20px 10px;
}

.hero-text h2 {
  font-size: 30px;
}

.hero-text h3 {
  margin-top: 10px;
  font-size: 20px;
}

/* features section */
.features {
  margin-bottom: 5%;
}

.features h2 {
  font-size: 36px;
  text-align: center;
  padding: 10px 0;
}

.feat-container {
  width: 100%;
  background-color: #1d1d25;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.feat-box {
  color: #ff8c00;
  font-size: 24px;
  padding: 15px;
  text-align: center;
  border: 2px solid #e7eef4;
  flex-grow: 1;
  flex-basis: 200px;
}

.feat-box p {
  font-size: 24px;
  margin-top: 20px;
}

/* Connect section */
.connect {
  background-color: #1d1d25;
}

.connect h2 {
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 32px;
}

.meetups {
  background: url("../images/meetups-img.webp") no-repeat center/cover;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.meetups div {
  color: #e7eef4;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  text-align: center;
  flex-basis: 200px;
  flex-grow: 1;
  border: 2px solid #e7eef4;
}

.meetups h3 {
  color: #ff8c00;
  margin: 5% 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
}

.meetups p {
  padding: 10px 0;
}

.meetups a {
  color: #ff8c00;
}

.meetups a:hover {
  color: #e7eef4;
  border-bottom: 2px solid #ff8c00;
}

/* <--- Artist Page ---> */

/* Card section */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  background-color: #1d1d25;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 280px;
}

.avatar {
  width: 280px;
  height: 280px;
}

/* Adds padding to the information inside of the card */
.card-details {
  padding: 16px;
}

.card-details h2 {
  font-size: 28px;
  margin-bottom: 8px;
  letter-spacing: 1.5px;
  color: #fff;
}

.card-details p {
  height: 80px;
  color: #fff;
  font-size: 16px;
}

.card-details .card-btn {
  display: inline-block;
  padding: 10px 16px;
  background-color: #ff8c00;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #000;
  font-weight: 600;
}

/* Artist section */
.about {
  background-color: #1d1d25;
  /* Flexbox properties */
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section-reverse {
  background-color: #e7eef4;
}

.about .artist-content img {
  height: 600px;
  width: 600px;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.artist-content {
  max-width: 100%;
  padding: 0 10px;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist-content .artist-content-socials {
  margin-top: 20px;
  margin-left: 12px;
  font-size: 24px;
  letter-spacing: 15px;
}

.artist-content .artist-content-socials a {
  color: #fff;
}

.artist-content .reverse-colors a {
  color: #1d1d25;
}

.artist-about {
  max-width: 100%;
  padding: 0 10px;
  display: inherit;
  flex-direction: column;
  text-align: center;
}

.about-reverse .artist-info p {
  color: #1d1d25;
  font-size: 18px;
  line-height: 24px;
}

.about-reverse .artist-info .biography {
  color: #1d1d25;
}

.artist-about div {
  display: inherit;
  flex-direction: inherit;
  justify-content: space-evenly;
  align-items: center;
}

.artist-info h2,
.artist-info p,
.artist-info a {
  margin: 20px 0;
}

.artist-info h2 {
  font-size: 85px;
  text-transform: capitalize;
}

.info-heading {
  color: #fff;
  border-bottom: 2px solid #ff8c00;
}

.info-heading-reverse {
  color: #1d1d25;
  border-bottom: 2px solid #ff8c00;
}

.artist-info p {
  color: #fff;
  font-size: 18px;
  font-weight: bolder;
  line-height: 24px;
}

.artist-about .biography {
  max-width: 150px;
  max-height: 50px;
  background-color: #ff8c00;
  color: #1d1d25;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 30px;
  font-weight: 600;
}

.reverse-colors {
  color: #1d1d25;
}

/* Up button */
.scroll-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.scroll {
  position: fixed;
  right: 1rem;
  bottom: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: 0.7;
  background-color: #ff8c00;
  color: #e7eef4;
  text-align: center;
  font-size: 20px;
  margin: auto;
  padding: 12px;
}

.scroll:hover {
  opacity: 1;
}

.scroll:focus {
  opacity: 0.9;
}

.scroll:active {
  opacity: 1;
}

/* <--- Sign Up page ---> */

.signup {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/signup-background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0;
}

.signup-box {
  width: 280px;
  padding: 32px 16px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
}

.signup-box > h2 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 20px;
}

.signup-form input {
  width: 92%;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: #cacaca;
}

.form-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.remember {
  margin-top: 10px;
}

.newsletter {
  margin-top: 10px;
}

.signup-btn {
  width: 90%;
  background-color: #ff8c00;
  font-size: 20px;
  margin-top: 15px;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #ff5e00;
}

.signup-form input:focus {
  border: 2px solid #ff8c00;
}

/* General footer properties */
footer {
  background-color: #1d1d25;
  color: #e7eef4;
  box-sizing: border-box;
  text-align: center;
  padding: 50px 50px 35px 50px;
}

.footer-left,
.footer-center,
.footer-right {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

/* Footer left */
.footer-left {
  width: 30%;
}

.footer-left h2 {
  color: #ff8c00;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}

.footer-left .footer-slogan {
  display: inline-block;
  margin: 20px 0 12px;
  line-height: 1.8;
  font-size: 14px;
}

.footer-project-info {
  display: inline-block;
  margin: 20px 0 12px;
  line-height: 1.8;
  font-size: 16px;
}

/* Footer center */
.footer-center {
  width: 35%;
}

.footer-center i {
  background-color: #ff8c00;
  color: #fff;
  font-size: 20px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 10px 14px;
  vertical-align: middle;
}

.footer-center i.fa-github {
  font-size: 24px;
}

.footer-center p {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  margin: 0;
}

/* Footer right */
.footer-right {
  width: 30%;
}

.footer-right h2 {
  color: #ff8c00;
}

.footer-disclaimer {
  display: inline-block;
  margin: 20px 0 12px;
  line-height: 1.5;
  font-size: 16px;
}

/* Media query for small screen (600px and below) */
@media screen and (max-width: 600px) {
  /* Navbar */
  .logo h1 {
    font-size: 24px;
  }

  header label {
    display: block;
  }

  nav {
    position: absolute;
    background-color: #1d1d25;
    width: 100px;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    /* Prevents the navigation menu from being constantly open */
    visibility: hidden;
    opacity: 0;
    z-index: 99;
  }

  nav ul li a,
  nav label {
    color: #ff8c00;
  }

  nav ul {
    flex-direction: column;
  }

  nav label {
    text-align: right;
  }
  /* When button is pressed the menu shows up */
  input:checked ~ nav {
    visibility: visible;
    opacity: 1;
  }

  /* features section */
  .feat-container {
    display: block;
  }

  /* Card section */
  .card-container {
    flex-wrap: wrap;
  }

  /* Artist section */

  .about .artist-content img {
    height: 300px;
    width: 300px;
    margin-top: 50px;
  }

  .artist-info h2 {
    font-size: 55px;
    margin-bottom: 25px;
  }

  .artist-info p {
    font-size: 16px;
  }

  .content-reverse {
    order: 1;
  }

  .about-reverse {
    order: 2;
  }

  .artist-about .spotify-player {
    margin-bottom: 20px;
  }

  /* Footer */
  .footer-bottom {
    flex-wrap: wrap;
  }

  .fb-right,
  .fb-left {
    width: 100%;
  }

  .fb-right {
    text-align: left;
    padding-top: 10px;
  }

  /* Hide the scroll button on smaller devices */
  .scroll {
    visibility: hidden;
  }
}

/* Media query for small devices (600px and up) */
@media screen and (min-width: 600px) {
  /* Navbar */
  nav ul li a {
    font-size: 14px;
  }

  .logo h1 {
    font-size: 32px;
  }

  /* Hero section */
  .hero-text {
    max-width: 60%;
  }

  .hero-text h2 {
    font-size: 42px;
  }

  .hero-text h3 {
    font-size: 28px;
  }

  /* Card section */
  .card-container {
    flex-wrap: wrap;
  }

  /* Artist section */
  .artist-content .artist-content-socials {
    margin-bottom: 20px;
  }

  .about .artist-content img {
    max-width: 450px;
    max-height: 450px;
    margin-top: 50px;
  }

  .artist-info {
    align-self: center;
  }

  .artist-info h2 {
    font-size: 80px;
    margin-bottom: 25px;
  }

  .artist-info p {
    font-size: 16px;
  }

  .artist-about .spotify-player {
    align-self: center;
    width: 550px;
    margin-bottom: 20px;
  }

  .signup-box {
    width: 480px;
  }
}

/* Media query to scale footer to devices 880px and below */
@media (max-width: 880px) {
  .footer-left,
  .footer-center,
  .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}

/* Media query for large devices (980px and up) */
@media screen and (min-width: 980px) {
  /* Navbar */
  nav ul li a {
    font-size: 16px;
  }

  .logo h1 {
    font-size: 32px;
  }

  /* Hero section */
  .hero-text {
    width: 400px;
  }

  /* Card section */
  .card-container {
    flex-wrap: nowrap;
  }

  .card-details p {
    font-size: 13px;
  }

  /* Feature section */
  .features h2 {
    margin: 2% 0;
  }
}

/* Media query for extra large devices (1200px and up) */
@media screen and (min-width: 1200px) {
  /* General property */
  section {
    height: 100vh;
  }

  /* Up button */
  .scroll {
    width: 2rem;
    height: 2rem;
    padding: 6px;
    font-size: 16px;
  }

  /* <--- Landing Page ---> */
  /* Feature section */
  .features {
    height: fit-content;
  }

  .feat-box {
    flex-basis: 400px;
  }

  .features h2 {
    font-size: 64px;
  }

  .feat-box {
    font-size: 32px;
  }

  /* Meet up section */
  .connect {
    height: fit-content;
  }

  .connect > h2 {
    font-size: 48px;
  }

  .meetups div h3 {
    font-size: 22px;
  }

  .meetups div p {
    font-size: 18px;
  }

  /* <--- Artist Page ---> */
  /* Artist info section */
  .about {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card-container {
    justify-content: space-evenly;
    flex-direction: row;
  }

  .card-details p {
    font-size: 16px;
  }

  .artist-about {
    width: 600px;
  }

  .artist-content-image img {
    min-width: 600px;
    min-height: 600px;
  }

  .content-reverse {
    order: 2;
  }

  .about-reverse {
    order: 1;
  }

  .signup {
    padding: 200px 0;
  }
}
